# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Prerequisites
C/*.d

# Compiled Object files
C/*.slo
C/*.lo
C/*.o
C/*.obj

# Precompiled Headers
C/*.gch
C/*.pch

# Compiled Dynamic libraries
C/*.so
C/*.dylib
C/*.dll

# Fortran module files
C/*.mod
C/*.smod

# Compiled Static libraries
C/*.lai
C/*.la
C/*.a
C/*.lib

# Executables
C/*.exe
C/*.out
C/*.app

C/cmake-build-debug/*

